<h1>Customer Section!</h1>
<div class="customer-table">
  <button mat-raised-button (click)="Add()">Add Customer</button>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource">
    <ng-container matColumnDef="customerId">
      <mat-header-cell *matHeaderCellDef> Customer Id </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.customerId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="organizationName">
      <mat-header-cell *matHeaderCellDef> Organization Name </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.organizationName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.city}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>  Email </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.phone}} </mat-cell>
    </ng-container>
    <!--<ng-container matColumnDef="insertPersonId">
      <mat-header-cell *matHeaderCellDef> Person Id </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.insertPersonId}} </mat-cell>
    </ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selectRow($event, row)"
      [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
      (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
    </mat-row>
  </mat-table>
</div>