table {
    width: 100%;
  }
  button{
    margin: 30px 0;
    margin-right: 30px;
  }
  
  .mat-dialog-container{
    padding: 30px;
  }
  
  .mat-row.hovered {
    background: rgb(231, 219, 107);
  }
  
  .mat-row.highlighted {
  background: #fbff00
  }