<h1>Job Section!</h1>
<div class="job-table">
  <button mat-raised-button (click)="Add()">Add</button>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource">
    <ng-container matColumnDef="jobId">
      <mat-header-cell *matHeaderCellDef> Job Id </mat-header-cell>
      <mat-cell *matCellDef="let JobDetail"> {{JobDetail.jobId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="organizationName">
      <mat-header-cell *matHeaderCellDef> Organization Name </mat-header-cell>
      <mat-cell *matCellDef="let JobDetail"> {{JobDetail.organizationName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="jobDescription">
      <mat-header-cell *matHeaderCellDef> Job Description </mat-header-cell>
      <mat-cell *matCellDef="let JobDetail"> {{JobDetail.jobDescription}} </mat-cell>
    </ng-container>
    <!--<ng-container matColumnDef="insertPersonId">
      <mat-header-cell *matHeaderCellDef> Person Id </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.insertPersonId}} </mat-cell>
    </ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selectRow($event, row)"
      [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
      (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
    </mat-row>
  </mat-table>
</div>