<div class="form-container">
  <mat-toolbar color="basic">{{action}} Job</mat-toolbar>
  <form class="job-form" [formGroup]="jobForm">
    <mat-form-field appearance="fill">
      <mat-label>Organization Id</mat-label>
      <input matInput formControlName="organizationId" [(ngModel)]="selectedJob.organizationId" placeholder="Organization Id" required >
      <mat-error *ngIf="jobForm.controls['organizationId'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Job Description</mat-label>
      <input matInput formControlName="jobDescription" [(ngModel)]="selectedJob.jobDescription" placeholder="Job Description" required >
      <mat-error *ngIf="jobForm.controls['jobDescription'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <!--<mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="insertPersonId" [(ngModel)]="selectedCustomer.insertPersonId" placeholder="Person Id" required >
      <mat-error *ngIf="customerForm.controls['phone'].errors?.required">Invalid form value</mat-error>
      <mat-error *ngIf="customerForm.controls['phone'].errors?.pattern">Please enter valid data</mat-error>
    </mat-form-field>-->
    <mat-form-field appearance="fill">
      <mat-label>Person Id</mat-label>
      <input matInput formControlName="insertPersonId" [(ngModel)]="selectedJob.insertPersonId" placeholder="Person Id" required >
      <mat-error *ngIf="jobForm.controls['insertPersonId'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-raised-button color="basic" (click)="onSubmit()" [disabled]="jobForm.invalid">Save</button>
    <button mat-raised-button color="basic" (click)="onClose()">Close</button>
  </div>
</div>