<div class="employee-table">
  <button mat-raised-button (click)="onAdd()">Add</button>
  <!--<button mat-raised-button (click)="onEdit()">Edit</button>-->
  <mat-error *ngIf="errorMessage != ''">
    {{errorMessage}}
  </mat-error>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource">
    <ng-container matColumnDef="employeeId">
      <mat-header-cell *matHeaderCellDef> Employee Id </mat-header-cell>
      <mat-cell *matCellDef="let EmployeeDetail"> {{EmployeeDetail.employeeId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let EmployeeDetail"> {{EmployeeDetail.firstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="middleName">
      <mat-header-cell *matHeaderCellDef> Middle Name </mat-header-cell>
      <mat-cell *matCellDef="let EmployeeDetail"> {{EmployeeDetail.middleName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
      <mat-cell *matCellDef="let EmployeeDetail"> {{EmployeeDetail.surname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
      <mat-cell *matCellDef="let EmployeeDetail"> {{EmployeeDetail.city}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let EmployeeDetail"> {{EmployeeDetail.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let EmployeeDetail"> {{EmployeeDetail.phone}} </mat-cell>
    </ng-container>
    <!--<ng-container matColumnDef="insertPersonId">
      <mat-header-cell *matHeaderCellDef> Person Id </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.insertPersonId}} </mat-cell>
    </ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selectRow($event, row)"
      [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
      (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
    </mat-row>
  </mat-table>
</div>