table {
    width: 100%;
  }
  button{
    margin: 30px 0;
    margin-right: 30px;
  }
  
  .mat-dialog-container{
    padding: 30px ;
  }
  
  .mat-row.hovered {
    background: rgb(219, 221, 84);
  }
  
  .mat-row.highlighted {
  background: #d0ff00
  }